services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/jellyfin:/config
      - /mnt/jellyfin-media:/media
    ports:
      - "8096:8096"
    restart: unless-stopped
    networks:
      - media

  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000 # should be owner of volumes
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/navidrome:/data
      - /mnt/jellyfin-media/music:/music:ro

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/transmission:/config
      - /mnt/jellyfin-media/downloads:/downloads
      - /mnt/jellyfin-media/watch:/watch
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"
    restart: unless-stopped
    networks:
      - media

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/sonarr:/config
      - /mnt/jellyfin-media/tv:/tv                 # final TV library
      - /mnt/jellyfin-media/downloads:/downloads   # where new stuff lands
    ports:
      - "8989:8989"            # Sonarr web UI
    networks:
      - media

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/radarr:/config
      - /mnt/jellyfin-media/movies:/movies
      - /mnt/jellyfin-media/downloads:/downloads
    ports:
      - "7878:7878"
    networks:
      - media

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /home/mike/.config/lidarr:/config
      - /mnt/jellyfin-media/music:/music
      - /mnt/jellyfin-media/downloads:/downloads #optional
    ports:
      - 8686:8686
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/prowlarr:/config
    ports:
      - "9696:9696"
    networks:
      - media

  rdtclient:
    image: ghcr.io/rogerfar/rdtclient:latest
    container_name: rdtclient
    restart: unless-stopped
    environment:
      - RD_API_KEY=<YOUR_REAL_DEBRID_API_KEY>
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /mnt/jellyfin-media/downloads:/downloads   # same as Transmission folder
      - /home/mike/.config/rdtclient:/config
    ports:
      - "6500:6500"  # optional; web UI
    networks:
      - media

networks:
  media:
    driver: bridge
