services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/jellyfin:/config
      - /media/storage:/media
    ports:
      - "8096:8096"
    restart: unless-stopped
    networks:
      - media

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
      - TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED=true
      - TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME=/config/hooks/on-complete.sh
    volumes:
      - /home/mike/.config/transmission:/config
      - /media/storage/downloads:/downloads
      - /media/storage/watch:/watch
      - ./transmission:/config/hooks:ro
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"
    restart: unless-stopped
    networks:
      - media

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/sonarr:/config
      - /media/storage/TV:/tv                 # final TV library
      - /media/storage/downloads:/downloads   # where new stuff lands
    ports:
      - "8989:8989"            # Sonarr web UI
    networks:
      - media

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/prowlarr:/config
    ports:
      - "9696:9696"
    networks:
      - media

networks:
  media:
    driver: bridge
