services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 3000:3000
    volumes:
      - /home/mike/.config/homepage:/app/config # Make sure your local config directory exists
      - /mnt/media:/media:ro
    environment:
      HOMEPAGE_ALLOWED_HOSTS: media.local:3000 # required, may need port. See gethomepage.dev/installation/#homepage_allowed_hosts
      PUID: 1000
      PGID: 1000

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/jellyfin:/config
      - /mnt/media:/media
    devices:
      - /dev/dri:/dev/dri
    ports:
      - "8096:8096"
    restart: unless-stopped
    networks:
      - media

  navidrome:
    container_name: navidrome
    image: deluan/navidrome:latest
    user: 1000:1000 # should be owner of volumes
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/navidrome:/data
      - /mnt/media/music:/music:ro
    networks:
      - media

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/transmission:/config
      - /mnt/media/downloads:/downloads
      - /mnt/media/watch:/watch
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"
    restart: unless-stopped
    networks:
      - media

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/sonarr:/config
      - /mnt/media/tv:/tv                 # final TV library
      - /mnt/media/downloads:/downloads   # where new stuff lands
    ports:
      - "8989:8989"            # Sonarr web UI
    networks:
      - media

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/radarr:/config
      - /mnt/media/movies:/movies
      - /mnt/media/downloads:/downloads
    ports:
      - "7878:7878"
    networks:
      - media

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /home/mike/.config/lidarr:/config
      - /mnt/media/music:/music
      - /mnt/media/downloads:/downloads #optional
    ports:
      - 8686:8686
    restart: unless-stopped
    networks:
      - media

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/prowlarr:/config
    ports:
      - "9696:9696"
    networks:
      - media

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /mnt/media/tv:/tv             # must match Sonarr/Radarr paths
      - /mnt/media/movies:/movies
      - /home/mike/.config/bazarr:/config
    ports:
      - "6767:6767"
    restart: unless-stopped
    networks:
      - media

  rdtclient:
    image: ghcr.io/rogerfar/rdtclient:latest
    container_name: rdtclient
    restart: unless-stopped
    environment:
      - RD_API_KEY=<YOUR_REAL_DEBRID_API_KEY>
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /mnt/media/downloads:/downloads   # same as Transmission folder
      - /home/mike/.config/rdtclient:/data
    ports:
      - "6500:6500"  # optional; web UI
    networks:
      - media

networks:
  media:
    driver: bridge
