services:
  caddy:
    container_name: caddy
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - /home/mike/.config/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - /home/mike/.config/caddy:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - media

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARED_TUNNEL_TOKEN}
    networks:
      - media   # or whatever network your caddy container is on

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 3000:3000
    volumes:
      - /home/mike/.config/homepage:/app/config # Make sure your local config directory exists
      - /mnt/media:/media:ro
    environment:
      HOMEPAGE_ALLOWED_HOSTS: media.local:3000,media:3000,media.gate-rohu.ts.net:3000,homepage.bowmanmike.com # required, may need port. See gethomepage.dev/installation/#homepage_allowed_hosts
      PUID: 1000
      PGID: 1000
    networks:
      - media

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/jellyfin:/config
      - /mnt/media:/media
    devices:
      - /dev/dri:/dev/dri
    ports:
      - "8096:8096"
    restart: unless-stopped
    networks:
      - media

  navidrome:
    container_name: navidrome
    image: deluan/navidrome:latest
    user: 1000:1000 # should be owner of volumes
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/navidrome:/data
      - /mnt/media/music:/music:ro
    networks:
      - media

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/transmission:/config
      - /mnt/media/downloads:/downloads
      - /mnt/media/watch:/watch
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"
    restart: unless-stopped
    networks:
      - media

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/sonarr:/config
      - /mnt/media/tv:/tv                 # final TV library
      - /mnt/media/downloads:/downloads   # where new stuff lands
    ports:
      - "8989:8989"            # Sonarr web UI
    networks:
      - media

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/radarr:/config
      - /mnt/media/movies:/movies
      - /mnt/media/downloads:/downloads
    ports:
      - "7878:7878"
    networks:
      - media

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /home/mike/.config/lidarr:/config
      - /mnt/media/music:/music
      - /mnt/media/downloads:/downloads #optional
    ports:
      - 8686:8686
    restart: unless-stopped
    networks:
      - media

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /home/mike/.config/prowlarr:/config
    ports:
      - "9696:9696"
    networks:
      - media

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /mnt/media/tv:/tv             # must match Sonarr/Radarr paths
      - /mnt/media/movies:/movies
      - /home/mike/.config/bazarr:/config
    ports:
      - "6767:6767"
    restart: unless-stopped
    networks:
      - media

  rdtclient:
    image: ghcr.io/rogerfar/rdtclient:latest
    container_name: rdtclient
    restart: unless-stopped
    environment:
      - RD_API_KEY=<YOUR_REAL_DEBRID_API_KEY>
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /mnt/media/downloads:/downloads   # same as Transmission folder
      - /home/mike/.config/rdtclient:/data
    ports:
      - "6500:6500"  # optional; web UI
    networks:
      - media

  syncthing:
    image: syncthing/syncthing:latest
    container_name: syncthing
    hostname: my-syncthing
    environment:
      - PUID=1000
      - PGID=1000
      # - STGUIADDRESS=
    volumes:
      - /home/mike/syncthing:/var/syncthing
    network_mode: host
    restart: unless-stopped
    healthcheck:
      test: curl -fkLsS -m 2 127.0.0.1:8384/rest/noauth/health | grep -o --color=never OK || exit 1
      interval: 1m
      timeout: 10s
      retries: 3

volumes:
  caddy_data:
  caddy_config:

networks:
  media:
    driver: bridge
